server {
	listen 80 default_server;
	
	root /usr/share/nginx/www;
	index drive.html;
	
	location / {
		try_files $uri $uri/ =404;
	}
	
	location /cam/pov.jpg {
		proxy_pass http://localhost:8080/?action=stream;
	}
	
	location /cam/overhead.jpg {
		proxy_pass http://192.168.1.100/axis-cgi/mjpg/video.cgi;
	}
	
	location ~ \.php$ {
		try_files $uri =404;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name                                                                                        ;
		include fastcgi_params;
	}
}
