.header {
    text-align:center;
    padding:5px;
    height:auto;
    background-image: url("images/green.jpg");
}
.headline {
    color:white;
    font-size:200%;
    text-shadow:2px 2px black;

}
.subhead {
    color:#FFCC99;
    font-size:150%;
    text-shadow:2px 2px black;
}
}
.navlinks a{
    color:white;
    text-decoration:none;
    text-align:center;
    width:100%;
    margin:0 auto;
    text-shadow:2px 2px black;
    font-size:130%;
}
.section {
    width:auto;
}
.content {
    text-indent:1cm;
}
.footer {
    background-image: url("images/green.jpg");
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    text-shadow:2px 2px black;
 
}
.sectionsubhead{
    font-size:125%;
    text-align: center;
}
.sectionhead {
    font-size:150%;
    text-align: center;
}